# Ignore everything
*

# Track only these
!Design/
!Design/**
!NightMoon/
!NightMoon/**
!Progress/
!Progress/**

# Exclude build artifacts
NightMoon/.godot/
NightMoon/bin/
NightMoon/obj/
NightMoon/build_modsNightMoon/
NightMoon/build_mods_local/
